@tailwind base;
@tailwind components;
@tailwind utilities;


input {
    @apply border border-[#0b0804] py-2 px-6 rounded-2xl placeholder:text-[#0b0804] placeholder:text-sm
}

@media (max-width: 380px) {
    input {
        width: 200px;
        /* Set the width to 200px for screens less than 280px wide */
    }
}

.masonry-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 16px;
}

.masonry-grid>li {
    grid-column-end: span 1;
    /* Initial column span for each item */
}

@media (min-width: 768px) {
    .masonry-grid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        /* Adjust for larger screens */
    }
}